/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 30 de ago. de 2024, 13:28:07
    Author     : lucas_mohr-soares
*/
body{
    background-image: url('https://i.postimg.cc/76B8bsBv/image.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: Arial, sans-serif;
    font-size:60px;
    color: white;
    text-align:center;
    margin: 10px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #1d62c3;
}
.container{
    width: 32%;
    margin-left: 14%;
    background-color: #ffcc00;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
label{
    color:#002398;
}
.centro{
    text-align: center;
}
.justificado{
    text-align: justify;
}
input[type="text"],
input[type="number"],
select{
    width: 417.5px;
    margin-top: 1px;
    padding: 4px;
    border: 2px solid #002398;
    border-radius: 10px;
    color: #002398;
}
#estado, #cidade{
    width: 200px;
    margin-top: 1px;
    padding: 4px;
    border: 2px solid #002398;
    border-radius: 10px;
    color: #002398;
}
#rua{
    width: 300px;
}
#numero{
    width: 100px;
}
.navbar {
    background-color: #f9f9f0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}
.navbar a {
    color: #0066cc;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
.navbar a:hover {
    text-decoration: underline;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 100px; /* Ajuste conforme necessário */
    margin-right: 15px;
}
.login {
    background-color: #ffcc00;
    padding: 5px 10px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
}
.search-icon {
    width: 25px;
    vertical-align: middle;
}

.endereco {
    display: flex;
    gap: 5px; /* Adiciona um espaço entre os campos */
}

.rua, .numero {
    display: flex;
    flex-direction: column;
}

.estado, .cidade {
    display: flex;
    flex-direction: column;
}
input[type='submit'], input[type='reset'] {
    padding: 10px 20px;
    background-color: #002398;
    border: none;
    border-radius: 4px;
    color: #ffcc00;
    font-weight: bold;
}

input[type='submit']:hover, input[type='reset']:hover {
    background-color: royalblue;
}



